ul.alert {font-size: 1.33337rem !important;}
.alert-info-text {
  color: yellow;
  font-size: 1.33337rem !important;
}
.alert-danger-text { 
  color: red; 
  font-size: 1.33337rem !important;
}
#sponsorOptionLabel { color: white !important; }
.live-streaming-iframe {
  width: 682px;
  height: 384px;
}

@media (max-width: 767px) {
  .live-streaming-iframe {
    width: 320px;
    height: auto;
  }

  input.text-ribbon-input {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

button { white-space: normal !important; }

.ticket-iframe {
  height: 39rem; 
}

.people-table {
  color: white;
}

.new-person, .person-article {
  color: white;
}

.login {color: white;}

.card-header {background-color: #151515 !important;}

.nav-tabs .nav-link.active {
  color: white !important;
  background-color: #5e5f5e !important;
  border-color: yellow !important;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  color: white !important;
  background-color: #5e5f5e !important;
}
