ul.alert {font-size: 1.33337rem !important;}
.alert-info-text {
  color: yellow;
  font-size: 1.33337rem !important;
}
.alert-danger-text { 
  color: red; 
  font-size: 1.33337rem !important;
}
#sponsorOptionLabel { color: white !important; }
.live-streaming-iframe {
  width: 682px;
  height: 384px;
}

@media (max-width: 767px) {
  .live-streaming-iframe {
    width: 320px;
    height: auto;
  }

  input.text-ribbon-input {
    width: 100% !important;
    margin-left: 0px !important;
  }
}

button { white-space: normal !important; }

.ticket-iframe {
  height: 23rem; 
}
