<h1>Please confirm your email address for learnathon.nyc!</h1>

<%= form_for @conn, 
      submission_path(@conn, :confirm), 
      [name: :confirmation_code, value: @cc, method: :get], fn f -> %>
  <%= text_input f, :body, value: @cc %>
  <%= submit "Click here to confirm" %>
<% end %>

